service: registration-handler

frameworkVersion: "3"
# plugins:
#   - serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  memorySize: 512
  stage: ${opt:stage}
  region: us-east-1
  environment:
    TABLE_NAME: registration-data
  # apiGateway:
  #   restApiId: 0pzfc1u4c7
  #   restApiRootResourceId: obos7gqihd
  iam:
    role: arn:aws:iam::812443762654:role/registration-role
  
  # iam:
  #   role: ${file(./configs/resources/iam-role.yml)}

functions: ${file(./configs/functions/registration-function.yml)}

resources: ${file(./configs/resources/log-group.yml)}


# you can add packaging information here
#package:
#  patterns:
#    - '!exclude-me.js'
#    - '!exclude-me-dir/**'
#    - include-me.js
#    - include-me-dir/**

#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
